name: verify
on:
  push:
    branches: trunk
  pull_request:
    branches: '**'
jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: actions/setup-node@v2-beta
        with:
          node-version: '12'
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Verify
        run: yarn verify
